		body { 
		font-family: "Comic Sans MS", Comic Sans, Cursive; /* Шрифт */
		transition: all 0.3s ease;
		}
		.letter { 
		color: #666; /* Wвет символов */ 
		font-size: 300%; /* Размер шрифта в процентах */ 
		font-family: Gabriola, Cursive; /* Шрифт */ 
		position: relative; /* Относительное позиционирование */ 
		top: 5px; /* Сдвиг сверху */ 
		}
		.layer {
		background: #fc3; /* Цвет фона */
		border: 2px solid black;  /* Параметры рамки */
		padding: 5px; /* Поля вокруг текста */
		margin: 2px;
		width: 250px;		
		}
		.box {
		width: 250px;
		margin: 2px;
		border: 2px solid black;
		background: white;
		padding: 2px;		
		}
		.box_span {
		width: 250px;
		margin: 1px;
		border: 1px solid black;
		background: white;
		padding: 1px;
		font-family: "Comic Sans MS", Comic Sans, Cursive;
		font-size: 80%;		
		}		
		.picture a {
		text-decoration: none;
		color: black;
		}
		.picture a:visited {
		text-decoration: none;
		color: black; /* Цвет посещенной ссылки */
		} 
		.picture a:hover {
		text-decoration: none; /* Убираем подчеркивание */
		color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
		background: #e24486; /* Цвет фона */
		}
		.ol li {
		list-style-type: none; /* Убираем исходные маркеры */
		}
		.ol {
		counter-reset: num; /* Задаём имя счетчика */
		}
		.ol li::before {
		counter-increment: num; /* Увеличиваем значение счётчика */
		content: counter(num) '. '; /* Выводим число */
		font-size: 200%;
		}
		.ol ul li{
		list-style-type: none; 
		}
		.ol ul li::before {
		content: "➤";
		font-size: 100%;
		counter-increment: none;
		}
		.ol img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 0;
		padding: 5px; /* Расстояние от картинки до рамки */
		background: #666; /* Цвет фона */
		width: 100px;
		height: 100px;
		vspace: 5px;
		opacity: 1;
		}
		.ol img:hover {
		background: #e24486;
		opacity: 0.6;
		}
		input::placeholder {
		opacity: 1; 
		transition: opacity 0.3s ease;
		}
		input:focus::placeholder {
		opacity: 0; 
		transition: opacity 0.3s ease;
		}
